
    
    <div class=" stunning-header bg-primary-opacity">
        <div class="header-spacer--standard"></div>
    
        <div class="stunning-header-content">
            <h1 class="stunning-header-title">Any Sugesstions 😎</h1>
        </div>
    
        <div class="content-bg-wrap stunning-header-bg1"></div>
    </div>
    
    <!-- End Stunning header -->
    
    
    <section class="mb60 mt60">
        <div class="container">
            <div class="row">
            	<div class="col col-xl-10 col-lg-10 col-md-12 col-sm-12  m-auto">

				
                    <!-- Contacts Form -->
                    
                    <div class="contact-form-wrap">
                        <div class="contact-form-thumb">
                            <h1 style="color:#ffffff;"><b>SEND US YOUR <span>SUGGESTIONS</span></b></h1>
                            <p>Do you have general suggesstion? Send us a message and we’ll appreciate you.<br>
                            Thank you</p>
                        </div>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Full Name</label>
                                        <input class="form-control" placeholder="" type="text" value="James">
                                    </div>
                                </div>
                                <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Your Email</label>
                                        <input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
                                    </div>
                                </div>
                                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">    
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Your Message"></textarea>
                                    </div>
                    
                                    <button class="btn btn-grey btn-lg full-width">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <!-- ... end Contacts Form -->
    
                </div>    
            </div>
        </div>
        
    </section>
    
    
    <!-- Footer Full Width -->
    
    <div class="footer footer-full-width" id="footer">
        <div class="container">
            <div class="row">
                <div class="col col-md-12 col-sm-12 col-12">
                    <!-- Widget About -->
                    <div class="widget w-about img-fluid">
                    
                        <a href="02-ProfilePage.html" class="logo">
                            <div class="img-wrap">
                                <img src="../../../assets/images/almamater.svg" width="180" alt="Alma Mater">
                            </div>
                        </a>
                        <ul class="socials">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-square" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- ... end Widget About -->
    
                </div>
    
                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
    
                    
                    <!-- SUB Footer -->
                    
                    <div class="sub-footer-copyright">
                        <span>
                            Copyright <a href="index.html">Olympus Buddypress + WP</a> All Rights Reserved 2017
                        </span>
                    </div>
                    
                    <!-- ... end SUB Footer -->
    
                </div>
            </div>
        </div>
    </div>
    
    <!-- ... end Footer Full Width -->
    
    