<div class="content-bg-wrap"></div>
<div class="header-spacer--standard"></div>

<div class="container">
  <div class="row display-flex">
    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="landing-content">
				<h1>Welcome to the biggest Alumni Network in the Ghana</h1>
				<p>We are the best and biggest educational social network with 5 million active users in Ghana. Share you
					thoughts, videos, photos and music you took from your old school!
				</p>
				<!-- <a href="#" class="btn btn-md btn-border c-white">Register Now!</a> -->
			</div>
		</div>
    <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

      <!-- Login-Registration Form  -->

      <div class="registration-login-form">
        <!-- Tab panes -->
        <div class="tab-pane" id="profile" role="tabpanel" data-mh="log-tab">
          <div class="title h6">Change Password</div>
          <form class="content" [formGroup]="passwordChangeForm">
            <div class="row">
              <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group label-floating">
                  <label class="control-label">New Password</label>
                  <input class="form-control" placeholder="" formControlName="password" type="password">
                </div>
                <div class="form-group label-floating">
                  <label class="control-label">Re-Type Password</label>
                  <input class="form-control" placeholder="" formControlName="confirmPassword" type="password">
                </div>

                <a style="color: white" (click)="onPasswordChange()" class="btn btn-lg btn-primary full-width">Reset
                  Password</a>
                <p>Don’t you have an account? Download the app from google play and sign up</p>
                <!-- <p>Don’t you have an account? <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Register Now!</a> it’s really simple and you can start enjoing all the benefits!</p> -->
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- ... end Login-Registration Form  -->
    </div>
  </div>
</div>
